.container {
    display: inline-flex;
    justify-content: space-around;
    flex-flow: row wrap;
    float: right;
}

.item {
    
    width: 100px;
    height: 50px;
    border: 1px none black;
    flex: 0 1 auto;
    background-color: lightblue;
    color: white;
    text-align: center;
    border-color: white;
    padding: 2px;    
}

@media (max-width: 200px) {
    .subitem {
    display: none;    
    }
    .menu{
        display: flex;
    }
}

@media (min-width: 200px) {
    .subitem {
    display: flex;    
    }
    .menu{
        display: none;
    }
}
